@-webkit-keyframes udZoomIn {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes udZoomIn {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes udZoomOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0;
  }
}

@keyframes udZoomOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0;
  }
}

.zoom-bottom-right-enter-active {
  animation: udZoomIn 0.2s ease;
  transform-origin: bottom right;
  -webkit-animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}

.zoom-bottom-right-leave-active {
  animation: udZoomIn 0.2s reverse;
  transform-origin: bottom right;
  -webkit-animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

// @keyframes opacity {
//   from {
//     opacity: 0;
//   }

//   to {
//     opacity: 1;
//   }
// }

@keyframes swing {
  10% {
    transform: rotate(20deg);
  }

  15% {
    transform: rotate(-15deg);
  }

  20% {
    transform: rotate(10deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  30% {
    transform: rotate(5deg);
  }

  35% {
    transform: rotate(-5deg);
  }

  40% {
    transform: rotate(5deg);
  }

  0%,
  50%,
  to {
    transform: rotate(0deg);
  }
}

.swing-animate {
  transform-origin: top center;
  animation-name: swing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
